<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StyleServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.StyleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StyleServlet</servlet-name>
    <url-pattern>/style</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFilmServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.EditFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFilmServlet</servlet-name>
    <url-pattern>/editFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStyleServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.AddStyleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStyleServlet</servlet-name>
    <url-pattern>/addStyle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStyleServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.DeleteStyleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStyleServlet</servlet-name>
    <url-pattern>/deleteStyle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStyleServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.UpdateStyleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStyleServlet</servlet-name>
    <url-pattern>/updateStyle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmsServlet</display-name>
    <servlet-name>FilmsServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.FilmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmsServlet</servlet-name>
    <url-pattern>/films</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFilmServlet</display-name>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.AddFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/addFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/film</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFilmServlet</display-name>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <servlet-class>fr.m2i.formation.servlet.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <url-pattern>/deleteFilm</url-pattern>
  </servlet-mapping>
</web-app>